src/META-INF/wsdl/localhost_8080/GalgeWebservice/AlleGalgespilService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://galgeleg.surge.sh/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://galgeleg.surge.sh/wsdl" name="AlleGalgespilService">
<types>
<xsd:schema>
<xsd:import namespace="http://galgeleg.surge.sh/wsdl" schemaLocation="http://localhost:8080/GalgeWebservice/AlleGalgespilService?xsd=1"/>
</xsd:schema>
</types>
<message name="getFornavn">
<part name="parameters" element="tns:getFornavn"/>
</message>
<message name="getFornavnResponse">
<part name="parameters" element="tns:getFornavnResponse"/>
</message>
<message name="getBrugteBogstaver">
<part name="parameters" element="tns:getBrugteBogstaver"/>
</message>
<message name="getBrugteBogstaverResponse">
<part name="parameters" element="tns:getBrugteBogstaverResponse"/>
</message>
<message name="getSynligtOrd">
<part name="parameters" element="tns:getSynligtOrd"/>
</message>
<message name="getSynligtOrdResponse">
<part name="parameters" element="tns:getSynligtOrdResponse"/>
</message>
<message name="getOrdet">
<part name="parameters" element="tns:getOrdet"/>
</message>
<message name="getOrdetResponse">
<part name="parameters" element="tns:getOrdetResponse"/>
</message>
<message name="getAntalForkerteBogstaver">
<part name="parameters" element="tns:getAntalForkerteBogstaver"/>
</message>
<message name="getAntalForkerteBogstaverResponse">
<part name="parameters" element="tns:getAntalForkerteBogstaverResponse"/>
</message>
<message name="erSidsteBogstavKorrekt">
<part name="parameters" element="tns:erSidsteBogstavKorrekt"/>
</message>
<message name="erSidsteBogstavKorrektResponse">
<part name="parameters" element="tns:erSidsteBogstavKorrektResponse"/>
</message>
<message name="erSpilletVundet">
<part name="parameters" element="tns:erSpilletVundet"/>
</message>
<message name="erSpilletVundetResponse">
<part name="parameters" element="tns:erSpilletVundetResponse"/>
</message>
<message name="erSpilletTabt">
<part name="parameters" element="tns:erSpilletTabt"/>
</message>
<message name="erSpilletTabtResponse">
<part name="parameters" element="tns:erSpilletTabtResponse"/>
</message>
<message name="erSpilletSlut">
<part name="parameters" element="tns:erSpilletSlut"/>
</message>
<message name="erSpilletSlutResponse">
<part name="parameters" element="tns:erSpilletSlutResponse"/>
</message>
<message name="nulstil">
<part name="parameters" element="tns:nulstil"/>
</message>
<message name="nulstilResponse">
<part name="parameters" element="tns:nulstilResponse"/>
</message>
<message name="opdaterSynligtOrd">
<part name="parameters" element="tns:opdaterSynligtOrd"/>
</message>
<message name="opdaterSynligtOrdResponse">
<part name="parameters" element="tns:opdaterSynligtOrdResponse"/>
</message>
<message name="gætBogstav">
<part name="parameters" element="tns:gætBogstav"/>
</message>
<message name="gætBogstavResponse">
<part name="parameters" element="tns:gætBogstavResponse"/>
</message>
<message name="hentBruger">
<part name="parameters" element="tns:hentBruger"/>
</message>
<message name="hentBrugerResponse">
<part name="parameters" element="tns:hentBrugerResponse"/>
</message>
<portType name="Galgelogik">
<operation name="getFornavn">
<input wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/getFornavnRequest" message="tns:getFornavn"/>
<output wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/getFornavnResponse" message="tns:getFornavnResponse"/>
</operation>
<operation name="getBrugteBogstaver">
<input wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/getBrugteBogstaverRequest" message="tns:getBrugteBogstaver"/>
<output wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/getBrugteBogstaverResponse" message="tns:getBrugteBogstaverResponse"/>
</operation>
<operation name="getSynligtOrd">
<input wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/getSynligtOrdRequest" message="tns:getSynligtOrd"/>
<output wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/getSynligtOrdResponse" message="tns:getSynligtOrdResponse"/>
</operation>
<operation name="getOrdet">
<input wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/getOrdetRequest" message="tns:getOrdet"/>
<output wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/getOrdetResponse" message="tns:getOrdetResponse"/>
</operation>
<operation name="getAntalForkerteBogstaver">
<input wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/getAntalForkerteBogstaverRequest" message="tns:getAntalForkerteBogstaver"/>
<output wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/getAntalForkerteBogstaverResponse" message="tns:getAntalForkerteBogstaverResponse"/>
</operation>
<operation name="erSidsteBogstavKorrekt">
<input wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/erSidsteBogstavKorrektRequest" message="tns:erSidsteBogstavKorrekt"/>
<output wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/erSidsteBogstavKorrektResponse" message="tns:erSidsteBogstavKorrektResponse"/>
</operation>
<operation name="erSpilletVundet">
<input wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/erSpilletVundetRequest" message="tns:erSpilletVundet"/>
<output wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/erSpilletVundetResponse" message="tns:erSpilletVundetResponse"/>
</operation>
<operation name="erSpilletTabt">
<input wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/erSpilletTabtRequest" message="tns:erSpilletTabt"/>
<output wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/erSpilletTabtResponse" message="tns:erSpilletTabtResponse"/>
</operation>
<operation name="erSpilletSlut">
<input wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/erSpilletSlutRequest" message="tns:erSpilletSlut"/>
<output wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/erSpilletSlutResponse" message="tns:erSpilletSlutResponse"/>
</operation>
<operation name="nulstil">
<input wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/nulstilRequest" message="tns:nulstil"/>
<output wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/nulstilResponse" message="tns:nulstilResponse"/>
</operation>
<operation name="opdaterSynligtOrd">
<input wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/opdaterSynligtOrdRequest" message="tns:opdaterSynligtOrd"/>
<output wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/opdaterSynligtOrdResponse" message="tns:opdaterSynligtOrdResponse"/>
</operation>
<operation name="gætBogstav">
<input wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/gætBogstavRequest" message="tns:gætBogstav"/>
<output wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/gætBogstavResponse" message="tns:gætBogstavResponse"/>
</operation>
<operation name="hentBruger">
<input wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/hentBrugerRequest" message="tns:hentBruger"/>
<output wsam:Action="http://galgeleg.surge.sh/wsdl/Galgelogik/hentBrugerResponse" message="tns:hentBrugerResponse"/>
</operation>
</portType>
<binding name="GalgePortBinding" type="tns:Galgelogik">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFornavn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBrugteBogstaver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSynligtOrd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrdet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAntalForkerteBogstaver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="erSidsteBogstavKorrekt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="erSpilletVundet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="erSpilletTabt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="erSpilletSlut">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nulstil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="opdaterSynligtOrd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="gætBogstav">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hentBruger">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AlleGalgespilService">
<port name="GalgePort" binding="tns:GalgePortBinding">
<soap:address location="http://localhost:8080/GalgeWebservice/AlleGalgespilService"/>
</port>
</service>
</definitions>